form{
    max-width: 40%;
    margin: 1rem;
}

label{
    position: absolute;
    left: -1000px;
}

button, #inputEmail4{
    width: 30rem;
}

.alert-danger, .alert-success{
    display: none;
    text-align: center;
}

.infos{
    background: #fff; 
    display:none;
    text-align: center;
    margin-left: 2rem;
}
.infos img {    
    max-width: 100%;
    margin: 20px auto;
}